{% extends 'base.html.twig' %}

{% block title %}
	Hello LivreController!
{% endblock %}

{% block body %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="example-wrapper">


		<fieldset>
			<legend>
				<h1>Formulaire
					{{ controller_name }}</h1>
			</legend>

			{{form_start(form)}}

			<strong>{{field_label(form.isbn)}}</strong>
			<br>{{form_widget(form.isbn)}}
			<br>
			<strong>{{field_label(form.titre)}}</strong>
			<br>{{form_widget(form.titre)}}
			<br>
			<strong>{{field_label(form.resumer)}}</strong>
			<br>{{form_widget(form.resumer)}}
			<br>
			<strong>{{field_label(form.description)}}</strong>
			<br>{{form_widget(form.description)}}
			<br>
			<strong>{{field_label(form.prix)}}</strong>
			<br>{{form_widget(form.prix, { 'type':'number' })}}

			<span class="error">
				{{ form_errors(form.prix)}}
			</span>



<br>
			<strong>{{field_label(form.author)}}</strong>
			<br>{{form_widget(form.author)}}
			<br>
			<strong>{{field_label(form.editor)}}</strong>
			<br>{{form_widget(form.editor)}}



			<br><br>
			{{form_widget(form.save)}}
			{{form_end(form)}}


		</fieldset>
	</div>
{% endblock %}

